{% extends 'base.html' %}

{% block title %}Sourish Visited states List{% endblock %}

{% block content %}

<style>
    .custom-home-btn {
        padding: 12px 24px;
        font-size: 1.1rem;
        border-radius: 8px;
        font-weight: 500;
        transition: background-color 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        align-items: end;
    }

    .custom-home-btn:hover {
        background-color: #0056b3;
        transform: scale(1.05);
        text-decoration: none;
    }
    .custom-home-btn1 {
        padding: 12px 24px;
        font-size: 1.1rem;
        border-radius: 8px;
        font-weight: 500;
        transition: background-color 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        align-items: center;
    }
</style>
<a href="{% url 'home' %}" class="btn btn-primary mt-3 custom-home-btn">🏠 Back to Home</a>
<a href="{% url 'index' %}" class="btn btn-primary mt-3 custom-home-btn">Places Visited By Sourish</a>
    <h1>Sourish Visited Places States</h1>

    <table align="center">
        <thead>
            <tr>
                <th>Sourish Visited state Name</th>

            </tr>
        </thead>
        <tbody>
            {% for place in placestates %}
                <tr>
                    <td>{{ place.place_state }}</td>

                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No places found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
