{% extends 'base.html' %}

{% block title %}Sourish Visited Places List{% endblock %}

{% block content %}
<a href="{% url 'states' %}">States Visited by Sourish</a>
    <h1>Sourish Visited Places List</h1>
    <table align="center">
        <thead>
            <tr>
                <th>Sourish Visited Places Name</th>
                <th>Sourish Visited Places City</th>
                <th>Sourish Visited Places Visited Year</th>
            </tr>
        </thead>
        <tbody>
            {% for place in places %}
                <tr>
                    <td>
                    <a href="/sourishtravellist/{{place.id}}">
                    {{ place.place_name }}
                    </a>
                    </td>
                    <td>{{ place.place_city }}</td>
                    <td>{{ place.visited_year }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No places found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
